<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Course Description</th>
                    <th>Course Duration</th>
                    <th>Course Date</th>
                    <th>Course Venue</th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </table>
        </div>
    </div>
</div>