<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="250px" src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-1131024,resizemode-1,msid-86426242/news/company/corporate-trends/nest-digital-announces-new-business-leaders-for-industrial-bfsi-sectors.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    
                            <div class="card" >
                                <img height="250px" src="https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-tqt4vn7042agvecj968h5dn0n5-20190301034051.Medi.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                              </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    
                    <div class="card" >
                        <img height="250px" src="http://images.jdmagicbox.com/comp/pune/c5/020pxx20.xx20.181228201353.q2c5/catalogue/sfo-technologies-pvt-ltd-pune-electronic-manufacturers-k4fcwitpp0.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card" >
                        <img height="250px" src="https://pbs.twimg.com/media/FV6OvNraIAAdmLE?format=jpg&name=large" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card" >
                        <img height="250px" src="http://sfotechnologies.net/images/ngroup-slide.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card" >
                        <img height="250px" src="https://www.nestdigital.com/images/ktu-on-board.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
