<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 "*ngFor="let i of friends">
                    <div class="card" style="width: 18rem;">
                        
                        <div class="card-body">
                          <h5 class="card-title">Name:{{i.name}}</h5>
                          <p class="card-text">Friends Name:{{i.friendName}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">friendNickName:{{i.friendNickName}}</li>
                          <li class="list-group-item">DescribeYourFriend:{{i.DescribeYourFriend}}</li>
                        </ul>        
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>