<app-nav></app-nav>
<div class="container">
    <div class="row r-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <div class="card" >       
                        <div class="card-body">
                          <a routerLink="/employeelogin" class="btn btn-primary">Employee portal</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <div class="card" >       
                        <div class="card-body">
                          <a routerLink="/adminlogin" class="btn btn-primary">Admin portal</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">ENTERPRISE SOLUTIONS</h5>
                          <p class="card-text">Enterprise Resource Planning
                            Supply Chain Management
                            HR Management System
                            Warehouse Management
                            Business Process Management
                            Document / Workflow / Content Management
                            Enterprise Portal</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">DIGITAL TRANSFORMATION</h5>
                          <p class="card-text">Our innovative Transformative Digital Technology Solutions offers enterprises operating across diverse domains opportunities to enhance customer experience, accelerate exponential development, develop new business models and maximize operational performance.</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">APPLICATION SERVICES AND SOLUTIONS</h5>
                          <p class="card-text">Custom Application Development
                            Product Development Outsourcing
                            Application / System Integration
                            Package Implementation
                            Application Enhancement / Migration</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Delivery Excellence</h5>
                          <p class="card-text">Digital Strategy Consulting
                            Business Process Reengineering
                            Enterprise Applications Consulting
                            Quality Consulting </p>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>

                </div>


            </div>
        </div>
    </div>
</div>
